.simple-rc-menu-icon {
  cursor: pointer;
  width: 40px;

  .icon-row {
    width: 35px;
    height: 5px;
    background-color: #1e1e1e;
    margin: 5px 0;
    border-radius: 5px;
  }

  &:hover {
    .icon-row {
      background-color: #343434;
    }
  }
}
